.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.live-cams-layout {
    display: flex; 
}

.live-cams-content {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-left: 35px; 
    height: 100%; 
}

.live-cams {
    width: 100%;
    max-width: 1400px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 54px;  
} 

.live-cams-top, 
.live-cams-mid, 
.live-cams-bott {
   width: 1400px; 
}

.live-cams-top {
    text-align: center; 
    position: relative;  
    margin-bottom: 30px;
}

.live-cams-top > div {
    font-weight: 600;
    font-size: 54px;
    color: var(--turq); 
}

.donate-now-btn {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 240px; 
    padding: 26px 35px; 
    background-color: var(--orange);
    color: var(--white);
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    position: absolute; 
    top: 0; 
    right: 0;
}

.donate-now-btn .arrow-line {
    background-color: var(--white);
}

.donate-now-btn .arrow-right {
    border-right-color: var(--white);
    border-bottom-color: var(--white);
}

.live-cams-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
}


/* .live-cams-mid img {
    margin-top: 46px; 
    cursor: pointer;
} */

.live-cams-mid iframe {
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.live-cams-bott {
    display: flex; 
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    margin-bottom: 150px; 
}

.live-cams-bott-txt {
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-top: 40px; 
}

.live-cams-carousel {
    display: flex; 
    justify-content: center;
    align-items: center;
    column-gap: 20px; 
    margin-top: 20px;
}

.live-cams-carousel .live-cams-arrow {
    cursor: pointer; 
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.live-cams-carousel .live-cams-arrow:hover {
     background-color: rgba(0, 0, 0, 0.2);
     transition: background-color 0.3s ease;
}

.live-cams-viewport {
    width: 960px; 
    display: flex; 
    align-items: center;
    overflow: hidden; 
    
}

.live-cams-track {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    gap: 20px; 
    scroll-behavior: smooth;
}

.live-cams-track .preview-video {
    width: 307px; 
    height: 207px;
    object-fit: cover; 
    cursor: pointer;
}

.live-cams-track iframe {
    pointer-events: none;
    border-radius: 10px;
}

.live-cams-track > * {
    cursor: pointer;
}
