.contact-us {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 260px; 
    padding-right: 260px;
}

.get-in-touch-container {
    display: flex; 
    column-gap: 175px; 
    margin-top: 160px; 
}

.get-in-touch-container .left-section {
    width: 545px; 
    display: flex; 
    flex-direction: column;
    row-gap: 50px; 
}

.get-in-touch-container .left-section .h2-heading {
    color: var(--turq);
}

.get-in-touch-container .right-section {
    width: 680px; 
    margin-bottom: 150px; 
}

.get-in-touch-container .right-section .contact-form {
    display: flex; 
    flex-direction: column;
    row-gap: 10px;
    width: 100%; 
}

.get-in-touch-container .right-section .contact-form input {
    height: 60px; 
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 20px; 
}

.get-in-touch-container .right-section .contact-form label span {
    color: var(--turq); 
}

.get-in-touch-container .right-section .contact-form textarea {
    min-height: 200px;
    width: 680px;  
    padding: 20px; 
}

.get-in-touch-container .right-section .contact-form input::placeholder, .get-in-touch-container .right-section .contact-form textarea::placeholder {
    color: var(--grey);
    font-family: 'Montserrat', 'sans-serif';
}

.get-in-touch-container .right-section .contact-form button {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 359px;
    height: 74px;
    border-radius: 5px;
    padding: 26px 45px;
    color: var(--white);
    background-color: var(--turq);
    border: none;
    cursor: pointer;
    margin-top: 50px;
}

.get-in-touch-container .right-section .contact-form button .arrow-container .arrow-line {
    background-color: var(--white);
}

.get-in-touch-container .right-section .contact-form button .arrow-container .arrow-right {
    border-bottom-color: var(--white);
    border-right-color: var(--white);
}

.get-in-touch-container .right-section .contact-form button:hover {
    background-color: var(--turq-dark);
    transition: .3s ease-in-out;
}

@media screen and (max-width: 1450px) {
    .contact-us {
        padding-left: 100px; 
        padding-right: 100px;
    }

    .get-in-touch-container {
        width: 100%; 
        justify-content: space-between;
    }
}

@media screen and (max-width: 1399px) {
    .contact-us {
        width: 100%; 
    }

    .contact-us > img {
        width: 100%;  
    }
    
}

@media screen and (max-width: 1200px) {
    .contact-us {
        padding-left: 0px; 
        padding-right: 0px; 
    }

    .get-in-touch-container {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;  
        padding-left: 10px;
        padding-right: 10px; 
    }

    .get-in-touch-container .h2-heading,
    .get-in-touch-container .info.text {
        text-align: center; 
    }

    .get-in-touch-container .right-section {
        margin-top: 40px;  
    }

}

@media screen and (max-width: 720px) {
    .get-in-touch-container .right-section,
    .get-in-touch-container .right-section .contact-form textarea {
        width: 630px;  
    }

    .get-in-touch-container .right-section .contact-form button {
        align-self: center; 
    }
}

@media screen and (max-width: 639px) {
    .get-in-touch-container .h2-heading {
        font-weight: 500;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
    }

     .get-in-touch-container .left-section,
     .get-in-touch-container .right-section,
     .get-in-touch-container .right-section .contact-form textarea {
        width: 100%; 
    }

    .get-in-touch-container .right-section .contact-form button {
        width: 300px; 
    }
}