:root {
    --black: #000000; 
    --white: #FFFFFF;
    --orange: #F58021;
    --orange-dark: #D26004;
    --navy: #20113D;
    --turq: #00A092;
    --turq-dark: #05786E;
    --turq-light: #80CFC8;
    --turq-green: #00A092;
    --turq-opaque: #00A09280;
    --grey: #969696;
    --grey-dark: #4F4F4F;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'sans-serif';
}

body.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.text {
    font-weight: 400;
    font-size: 18px;    
    line-height: 150%;
    letter-spacing: 0; 
}

.h2-heading {
    font-weight: 600;
    font-size: 54px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
}

.subheader-text {
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0;
}

.btn-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
}

.arrow-container {
    display: inline-flex;
    align-items: center;
}

.arrow-line {
    width: 20px;
    height: 4px;
    background-color: rgba(0,0,0,1);
}

.arrow-right {
    width: 10px;
    height: 10px;
    border-right: 4px solid rgba(0,0,0,1);
    border-bottom: 4px solid rgba(0,0,0,1);
    transform: rotate(-45deg);
    margin-left: -8px;
}

