.did-you-know {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.did-you-know-top {
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 150px auto;
}

.did-you-know-top .content {
    width: 1040px;
    height: 375px;
    border-radius: 5px;
    box-shadow: 0px 4px 50px 0px #00000040;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    row-gap: 30px;  
}

.did-you-know-top .content .content-header {
    font-weight: 500;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--turq);
}

.did-you-know-top .content .content-text {
    text-align: center;
}

.facts {
    display: flex; 
    justify-content: space-between;
    width: 1160px;  
}

.did-you-know-bot {
    width: 1160px; 
}

.facts-left {
    display: flex; 
    flex-direction: column;
    row-gap: 10px; 
    width: 479px; 
    align-items: left;
}

.fact-item {
    display: flex; 
    column-gap: 10px; 
    justify-content: flex-start;
    align-items: center;
}

.fact-item .view-live-btn {
    display: flex; 
    justify-content: center;
    align-items: center; 
    column-gap: 10px;
    border-radius: 5px;
    border: none; 
    background: var(--white); 
    color: var(--orange);
    cursor: pointer;
    margin-left: 10px; 
}

.fact-item .view-live-btn:hover { 
    color: var(--orange-dark);
}

.fact-item .view-live-btn .arrow-line {
    background-color: var(--orange);
}

.fact-item .view-live-btn .arrow-right {
    border-right-color: var(--orange);
    border-bottom-color: var(--orange);
}

.fact-item .view-live-btn:hover .arrow-line {
    background-color: var(--orange-dark);
}

.fact-item .view-live-btn:hover .arrow-right {
    border-right-color: var(--orange-dark);
    border-bottom-color: var(--orange-dark);
}

.did-you-know-bot .info {
    height: 189px; 
    margin-top: 50px;
    margin-bottom: 150px;  
}

.did-you-know-bot img {
    width: 440px; 
    height: 440px;
}

