
main {
    display: flex; 
    flex-direction: column; ;
}

.main-intro {
    width: 100%;
    height: 900px;
    background-image: url("../../assets/images/main-background.png");
    background-size: cover;       
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 239px; 
    padding-left: 260px;
    display: flex; 
    flex-direction: column;
    row-gap: 30px; 
}

.main-header {
    width: 890px; 
    font-weight: 800;
    font-size: 82px;
    color: #00A092;
    line-height: 100%;
    letter-spacing: 1;
    text-transform: uppercase;
}

.main-subheader {
    width: 430px; 
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0;
}

.main-intro button {
    width: 240px;
    height: 74px;
    display: flex; 
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    padding: 26px 20px;
    background-color: #F58021;
    color: #FFFFFF; 
    border: none; 
    font-weight: 600; 
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor: pointer; 
}

.main-intro button .btn-text {
    display: flex;
    align-items: center;

}

.main-page button img {
    width: 24.28px; 
    height: 22px; 
}

.main-page button:hover {
    background: #D26004;
    box-shadow: 0px 4px 30px 0px #F580214D;
    transition: .3s ease-in-out;

}

.how-it-works {
    display: flex;
    flex-direction: column;
    padding-left: 260px; 
    padding-right: 260px;  
}

.how-it-works-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 4rem; 
    margin-top: 150px;
}

.how-it-works-container img {
    width: 800px;
    height: 531px;
    border-radius: 5px;
}

.container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
    width: 560px; 
}

.container-text-header {
    font-weight: 600;
    font-size: 54px;
    color: #00A092;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
}

.container-text-main {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0;
}



.meet-pets {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-left: 260px; 
    padding-right: 260px;
    margin-top: 136px; 
}

.h2-heading {
    color: var(--turq); 
}

.meet-pets > .subheader-text {
    width: 920px; 
    height: 102px;
    margin-top: 50px;  
}

.slider-container {
    max-width: 188px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 60px; 
    margin: 100px 0px 40px 0px; 
}

.slider {
    width: 64px; 
    height: 60px;
    background-color: var(--white);
    border-radius: 5px;  
    border: 1px solid var(--navy);
    cursor: pointer;
}

.slider.is-disabled {
  opacity: 0.3;
  cursor: default;
}

.slider.is-disabled .arrow-line {
  background-color: rgba(0,0,0,0.2);
}

.slider.is-disabled .arrow-right {
  border-color: rgba(0,0,0,0.2);
}

.slider:hover {
    background-color: var(--navy);
    border: 1px solid var(--navy);
    transition: .3s ease-in-out;
}

.slider.left {
    transform: rotate(-180deg);
    display: flex; 
    justify-content: center;
    align-items: center;
}

.slider.right {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.slider.left:hover .arrow-line,
.slider.right:hover .arrow-line {
    background-color: var(--white); 
}

.slider.left:hover .arrow-right,
.slider.right:hover .arrow-right {
    border-right-color: var(--white); 
    border-bottom-color: var(--white); 
}

.arrow-line {
    background-color: var(--navy); 
}

.arrow-right {
    border-right-color: var(--navy); 
    border-bottom-color: var(--navy); 
}

.meet-pets-content {
  width: 1420px; /* or a fixed width for the carousel */
  overflow: hidden; /* hide extra columns */
}

.meet-pets-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  /* Each column = container width / 3 */
  grid-auto-columns: calc((100% - 32px) / 2.9); /* 3 columns visible, subtract 2 gaps */
  overflow-x: hidden; /* enable horizontal scrolling */
  overflow-y: hidden; 
  scroll-behavior: smooth; /* optional */
}

.meet-pet-card {
  width: calc((100% - 32px) / 2.9); /* 3 columns visible, subtract total gaps */
  /* height adjusts automatically */
  height: 730px; 
  cursor: pointer;
  position: relative; 
}

.meet-pet-card:hover {
    opacity: 80%; 
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

.meet-pet-tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 134px; 
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 12.39px 19.15px;
    position: absolute; 
    top: 0px; 
    left: 0px;
    background-color: var(--navy);
    color: var(--white);

}

.meet-pet-card .meet-pet-image {
    display: block;
    width: 440px; 
    height: 436px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.meet-pet-info {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    width: 440px; 
    height: 270.8px;
    row-gap: 10px;
    color: var(--white);
    background-color: var(--navy); 
    padding: 30px; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.meet-pet-name {
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0;
    text-align: center;
}

.meet-pet-info .btn-text {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    width: 240px; 
    height: 73px; 
    margin-top: 10px; 
    background: none; 
    border: none; 
    color: var(--orange); 
    font-size: 20.27px; 
    cursor: pointer;
}

.meet-pet-info .btn-text:hover {
    color: var(--orange-dark);
    transition: .3s ease-in-out;
}

.meet-pet-info .text {
    text-align: center; 
    height: 80px;
}

.choose-favorite {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    width: 359px;
    height: 74px;
    margin-top: 50px;
    margin-bottom: 136px; 
    border-radius: 5px;
    border: 1px solid var(--navy);
    background: none; 
    color: var(--navy);
    padding: 26px 45px;
    cursor: pointer;
}

.choose-favorite:hover {
    background-color: var(--navy);
    color: var(--white);
    transition: .3s ease-in-out;
}

.choose-favorite:hover .arrow-line {
    background-color: var(--white);
}

.choose-favorite:hover .arrow-right {
    border-right-color: var(--white);
    border-bottom-color: var(--white);
}

.pay-and-feed {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-left: 260px; 
    padding-right: 260px;
    padding-bottom: 90px; 
    background-color: var(--navy);
    color: var(--white);
}

.pay-and-feed .h2-heading {
    color: var(--white);
    margin-top: 90px; 
    margin-left: 0; 
    align-self: flex-start;
}

.pay-and-feed-line-wrapper {
    width: 100%; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    column-gap: 60px;
    margin-top: 80px; 
}

.line {
    border: 1px solid #FFFFFF; 
    width: 100%;
}

.pay-and-feed-card {
    display: flex; 
    align-items: start;
    column-gap: 130px;
    /* flex-wrap: wrap; */
    width: 100%;  
    margin-top: 100px;
}

.pay-and-feed-card-info {
    display: flex; 
    flex-direction: column;
    /* flex: 1 1 0;        */
    width: 400px; 
    min-width: 300px;  /* don’t shrink smaller than 300px */
}

.pay-and-feed-card-logo {
    width: 106px; 
    height: 80px; 
    margin-bottom: 20px;
}

.pay-and-feed-card-title {
    margin-bottom: 30px; 
}

.pay-and-feed-card-text {
    max-width: 560px; 
}

.pay-and-feed-btn {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 250px;
    height: 74px;
    padding: 26px 45px;
    margin-top: 40px; 
    border: none; 
    border-radius: 5px;
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}

.pay-and-feed-btn:hover {
    background-color: var(--orange-dark);
    transition: .3s ease-in-out;
}

.pay-and-feed-btn .arrow-line {
    background-color: var(--white);
}

.pay-and-feed-btn .arrow-right {
    border-right-color: var(--white);
    border-bottom-color: var(--white);
}

.what-users-think {
    width: 100%;
    height: 1830px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px; 
    padding-left: 260px;
    padding-bottom: 90px; 
    border-color: var(--navy);
    margin-top: -1px; 

    background:
        linear-gradient(144.77deg, var(--navy) 18.53%, rgba(32, 17, 61, 0) 46.43%),
        linear-gradient(177.34deg, #20113D 7.26%, rgba(32, 17, 61, 0) 14.89%),
        url("../../assets/images/panda-behind-tree.png");
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.what-users-think-container {
    display: flex; 
    column-gap: 40px; 
}

.what-users-think-header-container {
    display: flex; 
    flex-direction: column; 
    max-width: 560px;
    color: var(--white);
}

.what-users-think-header-container .h2-heading {
    color: var(--white);
}

.what-users-think-header-text {
    margin-top: 40px; 
}

.what-users-think-cards-content {
    width: 1054px; 
    overflow: hidden; 
}

.what-users-think-cards-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
    overflow-x: hidden;  
}

.users-think-card {
    width: 515px; 
    height: 463px; 
    border-radius: 5px; 
    display: flex; 
    flex-direction: column;
    padding: 40px; 
    background-color: var(--white);
    color: var(--black); 
}

.users-think-card .quotation-marks {
    width: 50px !important; 
    height: 56px !important; 
}

.users-think-card-date {
    margin-top: 20px; 
}

.users-think-card-text {
    margin-top: 40px; 
}

.users-think-card-author {
    margin-top: auto;
}

.what-users-think-cards-content .slider.left, 
.what-users-think-cards-content .slider.right {
    background: transparent;
    border-color: var(--white); 
}

.what-users-think-cards-content .slider.left:hover, 
.what-users-think-cards-content .slider.right:hover {
    background: var(--white);
    border: none; 
}

.what-users-think-cards-content 
.arrow-line {
    background-color: var(--white); 
}

.what-users-think-cards-content 
.slider.left:hover .arrow-line {
    background-color: var(--navy); 
}

.what-users-think-cards-content 
.slider.left:hover .arrow-right {
    border-bottom-color: var(--navy);
    border-right-color: var(--navy); 
}

.what-users-think-cards-content .arrow-right {
    border-bottom-color: var(--white);
    border-right-color: var(--white); 
}

.what-users-think-cards-content 
.slider.right:hover .arrow-line {
    background-color: var(--navy); 
}

.what-users-think-cards-content 
.slider.right:hover .arrow-right {
    border-bottom-color: var(--navy);
    border-right-color: var(--navy); 
}

.what-users-think button {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    width: 359px;
    height: 74px;
    border-radius: 5px;
    border: 1px solid var(--white);
    color: var(--white);
    padding: 26px 45px;
    margin-top: auto; 
    align-self: flex-start; 
    cursor: pointer;
}

.what-users-think button:hover {
    background-color: var(--turq);
    transition: .3s ease-in-out;
}

.what-users-think .arrow-line {
    background-color: var(--white);
}

.what-users-think .arrow-right {
    border-bottom-color: var(--white);
    border-right-color: var(--white); 
}

.care {
    padding: 136px 260px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.care .h2-heading {
    width: 655px;
    text-align: center; 
}

.care .care-subheader {
    width: 537px; 
    margin-top: 50px;
    text-align: center;  
}

.care-pets-container {
    width: 1380px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px; 
    margin-top: 50px; 
}

.care-pets-container:first-child {
    width: 920px; 
}

.care-pet-card {
    width: 440px; 
    height: 658px;
    display: flex; 
    flex-direction: column;  
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer; 
}

.care-pet-card:hover {
    transform: scale(1.05);
    opacity: 0.8;
    transition: .3s ease-in-out;
}

.care-pet-card > img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.care-pet-info {
    display: flex; 
    flex-direction: column; 
    flex: 1; 
    align-items: center;
    padding: 30px 30px 60px 30px; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--navy);
    color: var(--white); 
}

.care-pet-info-text {
    text-align: center;
}

.care-pet-info button {
    width: 142px;
    border-radius: 5px;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: none;
    color: var(--orange); 
    border: none;  
    padding: 26px 45px;
    margin-top: auto; 
    cursor: pointer;
}

.care-pet-info .arrow-line {
    background-color: var(--orange);
}

.care-pet-info .arrow-right {
    border-bottom-color: var(--orange);
    border-right-color: var(--orange); 
}

.care-button {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    width: 359px;
    height: 74px;
    border: 1px solid var(--navy); 
    border-radius: 5px;
    padding: 26px 45px;
    border-width: 1px;
    color: var(--navy); 
    margin-top: 50px; 
    cursor: pointer;
}

.care-button:hover {
    background-color: var(--navy);
    color: var(--white); 
    transition: .3s ease-in-out;
}

.care-button:hover .arrow-line {
    background-color: var(--white);
}

.care-button:hover .arrow-right {
    border-bottom-color: var(--white);
    border-right-color: var(--white); 
}

.care .touch-the-animal {
    max-width: 1380px;
    margin-top: 100px; 
    margin-bottom: 100px;  
}























